<!-- ======================================================================= -->
<!--                          MENU Y ICONS : CONFIG                          -->
<!-- ======================================================================= -->
<app-section title="Configuration">
  <!-- ---------------------------- Description ---------------------------- -->
  <app-description>The properties of MenuYIconsConfig</app-description>

  <!-- ------------------------------- Table ------------------------------- -->
  <app-props-table [props]="props"></app-props-table>
</app-section>
