<!-- -------------------------------- Title -------------------------------- -->
<app-title title="Search Bar"></app-title>

<!-- ------------------------------- Import -------------------------------- -->
<app-section-import [import]="import"></app-section-import>

<!-- -------------------------------- Basic -------------------------------- -->
<app-search-bar-basic></app-search-bar-basic>

<!-- ------------------------------- Custom -------------------------------- -->
<app-search-bar-custom></app-search-bar-custom>

<!-- ---------------------------- Configuration ---------------------------- -->
<app-search-bar-configuration></app-search-bar-configuration>

<!-- ------------------------------- Events -------------------------------- -->
<app-search-bar-events></app-search-bar-events>