/* ========================================================================== */
/*                             CUSTOM MENU Y ICONS                            */
/* ========================================================================== */
:host ::ng-deep #custom-menu-y-icons {
  &.gems-menu-y-icons {
    background-color: #d4b254;

    /* -------------------------------- <ul> -------------------------------- */
    .gems-list {
      /* ------------------------------- <li> ------------------------------- */
      .gems-item {
        /* ----------------- <li class="gems-electron-item"> ---------------- */
        &.gems-electron-item {
          /* ------------------------------ <a> ----------------------------- */
          .gems-link {
            background-color: #d47522;
          }
        }

        /* ----------------------- <li class="active"> ---------------------- */
        &.active {
          /* ------------------------------ <a> ----------------------------- */
          .gems-link {
            color: #000;
          }
        }

        /* ------------------------------- <a> ------------------------------ */
        .gems-link {
          color: #8e0391;
          transition: 0.5s;

          // Hover
          &:hover {
            cursor: crosshair;
            border: 1px solid #5662e1;
            color: #8e039155;
          }
        }
      }
    }

    /* --------------------- <li class="gems-item-1"> --------------------- */
    .gems-item-1 {
      /* ----------------- <li class="gems-electron-item"> ---------------- */
      &.gems-electron-item {
        /* ------------------------------- <a> ------------------------------ */
        .gems-link {
          background-color: rgb(74, 230, 62);
        }
      }

      /* ----------------------- <li class="active"> ---------------------- */
      &.active {
        /* ------------------------------ <a> ----------------------------- */
        .gems-link {
          color: rgb(200, 240, 119);
          background-color: transparent;
        }
      }

      /* ------------------------------- <a> ------------------------------ */
      .gems-link {
        background-color: rgb(213, 22, 53);
        color: rgb(3, 103, 243);
      }
    }
  }
}
