<!-- ======================================================================= -->
<!--                            SEARCH BAR CONFIG                            -->
<!-- ======================================================================= -->
<app-section title="SearchBarConfig">
  <!-- ---------------------------- Description ---------------------------- -->
  <app-description>
    The <strong>configuration</strong> for &lt;gems-search-bar>
  </app-description>

  <!-- ------------------------------- Table ------------------------------- -->
  <app-props-table [props]="props"></app-props-table>
</app-section>
