// Use :host ::ng-deep or use a global style
// The style id (You can use this id for several <gems-menu-x>)
:host ::ng-deep #custom-menu-x {
  // nav
  &.gems-menu-x {
    background-color: lightseagreen;
    border: 3px solid grey;

    // nav ul
    .gems-links {
      // nav ul li (Default)
      .gems-link {
        // The electron link
        &.gems-electron-link {
          background-color: lightgreen;
        }

        // The <li></li> active
        &.active {
          // The <a></a> of the link active
          .gems-link-text {
            font-size: 1.5rem;
            color: darkgreen;
          }
        }

        // The <a></a> of a link
        .gems-link-text {
          padding: 0.5rem 0;
          transition: none;
          font-size: 1rem;
          color: black;

          &:hover {
            opacity: 1;
            font-weight: bold;
          }
        }
      }

      // Style for the second link
      .gems-link-1 {
        // The electron link when the second link is active
        &.gems-electron-link {
          background-color: lightsalmon;
        }

        // The <li></li> of the second link when it's active
        &.active {
          // The <a></a> of the second link when it's active
          .gems-link-text {
            color: orangered;
          }
        }

        // The <a></a> of the second link
        .gems-link-text {
          color: gold;
        }
      }

      // Style for the third link
      .gems-link-2 {
        &.active {
          .gems-link-text {
            text-decoration: line-through;
            color: lightcoral;
          }
        }
        .gems-link-text {
          &:hover {
            text-shadow: gold 0 0 5px;
          }
        }
      }
    }
  }
}