<!-- Title -->
<app-title [title]="title" [description]="description"></app-title>

<!-- Import section -->
<app-section [title]="'Import'">
  <!-- Description -->
  <app-description>
    Add this line in <strong>app.module.ts</strong> and the module in <strong>imports</strong>
  </app-description>

  <!-- Code area -->
  <app-code-area [code]="import"></app-code-area>
</app-section>

<!-- Basic -->
<app-section [title]="'Basic'">
  <!-- Description -->
  <app-description> The template with minimal configuration </app-description>

  <!-- Example -->
  <app-example>
    <gems-menu-x [id]="" [links]="links" (onLinkClicked)="basicLoaded = $event"></gems-menu-x>

    <div style="text-align: center; margin-top: 0.5rem">
      <p *ngIf="basicLoaded === 0">Component 'Sellers' loaded</p>
      <p *ngIf="basicLoaded === 1">Component 'Supervisor' loaded</p>
      <p *ngIf="basicLoaded === 2">Component 'Admins' loaded</p>
      <p *ngIf="basicLoaded === 3">Component 'Customers' loaded</p>
    </div>
  </app-example>
  <app-spacer></app-spacer>

  <!-- Code area -->
  <app-select [labels]="['Html', 'Typescript']" (onChange)="basicSelect = $event"></app-select>
  <app-code-area *ngIf="basicSelect === 0" [code]="basicHtml"></app-code-area>
  <app-code-area *ngIf="basicSelect === 1" [code]="basicTypescript"></app-code-area>
</app-section>

<!-- Default active link -->
<app-section [title]="'Default active link'">
  <!-- Description -->
  <app-description> Set a default active link </app-description>

  <!-- Example -->
  <app-example>
    <gems-menu-x [links]="links" [default]="defaultLoaded" (onLinkClicked)="defaultLoaded = $event"></gems-menu-x>

    <div style="text-align: center; margin-top: 0.5rem">
      <p *ngIf="defaultLoaded === 0">Component 'Sellers' loaded</p>
      <p *ngIf="defaultLoaded === 1">Component 'Supervisor' loaded</p>
      <p *ngIf="defaultLoaded === 2">Component 'Admins' loaded</p>
      <p *ngIf="defaultLoaded === 3">Component 'Customers' loaded</p>
    </div>
  </app-example>
  <app-spacer></app-spacer>

  <!-- Code area -->
  <app-select [labels]="['Html', 'Typescript']" (onChange)="defaultSelect = $event"></app-select>
  <app-code-area *ngIf="defaultSelect === 0" [code]="defaultHtml"></app-code-area>
  <app-code-area *ngIf="defaultSelect === 1" [code]="defaultTypescript"></app-code-area>
</app-section>

<!-- Custom -->
<app-section [title]="'Custom'">
  <!-- Description -->
  <app-description> The css struct for custom menu-x </app-description>

  <!-- Example -->
  <app-example>
    <gems-menu-x [styleId]="'custom-menu-x'" [links]="links" (onLinkClicked)="customLoaded = $event"></gems-menu-x>

    <div style="text-align: center; margin-top: 0.5rem">
      <p *ngIf="customLoaded === 0">Component 'Sellers' loaded</p>
      <p *ngIf="customLoaded === 1">Component 'Supervisor' loaded</p>
      <p *ngIf="customLoaded === 2">Component 'Admins' loaded</p>
      <p *ngIf="customLoaded === 3">Component 'Customers' loaded</p>
    </div>
  </app-example>
  <app-spacer></app-spacer>

  <!-- Code area -->
  <app-select [labels]="['Html', 'Typescript', 'SCSS']" (onChange)="customSelect = $event"></app-select>
  <app-code-area *ngIf="customSelect === 0" [code]="customHtml"></app-code-area>
  <app-code-area *ngIf="customSelect === 1" [code]="customTypescript"></app-code-area>
  <app-code-area *ngIf="customSelect === 2" [code]="customScss"></app-code-area>
</app-section>

<!-- Code -->
<app-section [title]="'Code'">
  <!-- Description -->
  <app-description> The code behind </app-description>

  <!-- Code area -->
  <app-select [labels]="['Html', 'Typescript', 'SCSS']" (onChange)="codeLoaded = $event"></app-select>
  <app-code-area *ngIf="codeLoaded === 0" [code]="codeHtml"></app-code-area>
  <app-code-area *ngIf="codeLoaded === 1" [code]="codeTypescript"></app-code-area>
  <app-code-area *ngIf="codeLoaded === 2" [code]="codeScss"></app-code-area>
</app-section>
