// Use :host ::ng-deep or use a global style
// The style id (You can use this id for several <gems-menu-x>)
:host ::ng-deep #custom-menu-x {
  // <nav> : menu-x
  &.gems-menu-x {
    background-color: lightseagreen;
    border: 3px solid grey;

    // <ul> : list of the links
    .gems-list {

      // <li> : one item of the list
      .gems-item {

        // <li class="gems-electron-item"> : the item which move
        &.gems-electron-item {
          background-color: lightgreen;
        }

        // <li class="active"> : The item which is related to the active link
        &.active {
          .gems-link {
            font-size: 1.5rem;
            color: darkgreen;
          }
        }

        // <a> : The link of an item
        .gems-link {
          padding: 0.5rem 0;
          transition: none;
          font-size: 1rem;
          color: black;

          &:hover {
            opacity: 1;
            font-weight: bold;
          }
        }
      }

      // Style for the second link
      .gems-item-1 {
        &.gems-electron-item {
          background-color: lightsalmon;
        }

        &.active {
          .gems-link {
            color: orangered;
          }
        }

        .gems-link {
          color: gold;
        }
      }

      // Style for the third link
      .gems-item-2 {
        &.active {
          .gems-link {
            text-decoration: line-through;
            color: lightcoral;
          }
        }
        .gems-link {
          &:hover {
            text-shadow: gold 0 0 5px;
          }
        }
      }
    }
  }
}
