<!-- -------------------------------- Title -------------------------------- -->
<app-title title="Menu X"></app-title>

<!-- ------------------------------- Import -------------------------------- -->
<app-section-import [import]="import"></app-section-import>

<!-- -------------------------------- Basic -------------------------------- -->
<app-menu-x-basic></app-menu-x-basic>

<!-- ------------------------- Default Active Link ------------------------- -->
<app-menu-x-default-active-link></app-menu-x-default-active-link>

<!-- ------------------------------- Custom -------------------------------- -->
<app-menu-x-custom></app-menu-x-custom>

<!-- ---------------------------- Configuration ---------------------------- -->
<app-menu-x-configuration></app-menu-x-configuration>

<!-- ------------------------------- Events -------------------------------- -->
<app-menu-x-events></app-menu-x-events>
