<!-- ======================================================================= -->
<!--                             MENU X : CONFIG                             -->
<!-- ======================================================================= -->
<app-section title="MenuXConfig">
  <!-- ---------------------------- Description ---------------------------- -->
  <app-description>
    The <strong>configuration</strong> for &lt;gems-menu-x>
  </app-description>

  <!-- ------------------------------- Table ------------------------------- -->
  <app-props-table [props]="props"></app-props-table>
</app-section>
