<!-- ======================================================================= -->
<!--                             MENU X : CONFIG                             -->
<!-- ======================================================================= -->
<app-section title="Configuration">
  <!-- ---------------------------- Description ---------------------------- -->
  <app-description
    >The properties of the configuration interface</app-description
  >

  <!-- ------------------------------- Table ------------------------------- -->
  <app-props-table [props]="props"></app-props-table>
</app-section>
