<!-- ======================================================================= -->
<!--                             MENU X : EVENTS                             -->
<!-- ======================================================================= -->
<app-section [title]="'Events'">
  <!-- ---------------------------- Description ---------------------------- -->
  <app-description
    >The <strong>@Output( )</strong> of &lt;gems-menu-x></app-description
  >

  <!-- ------------------------------ Events ------------------------------- -->
  <app-events-table [events]="events"></app-events-table>
</app-section>
