<!-- ======================================================================= -->
<!--                          MENU Y ICONS : BASIC                           -->
<!-- ======================================================================= -->
<app-section title="Basic">
  <!-- --------------------------- Description --------------------------- -->
  <app-description>
    A basic example of <strong>&lt;gems-menu-y-icons></strong>
  </app-description>

  <!-- ------------------------------ Example ------------------------------ -->
  <app-example>
    <div style="display: flex; height: 500px">
      <!-- gems-menu-y-icons -->
      <gems-menu-y-icons
        [config]="config"
        (onLinkClicked)="loaded = $event"
      ></gems-menu-y-icons>

      <!-- links -->
      <div style="text-align: center; margin-left: 1rem">
        <div *ngIf="loaded === 0">Component 'Javascript' loaded</div>
        <div *ngIf="loaded === 1">Component 'Html/CSS' loaded</div>
        <div *ngIf="loaded === 2">Component 'Java' loaded</div>
        <div *ngIf="loaded === 3">Component 'Python' loaded</div>
      </div>
    </div>
  </app-example>
  <app-spacer></app-spacer>

  <!-- ----------------------------- Code Area ----------------------------- -->
  <!-- select -->
  <app-select
    [labels]="['Html', 'Typescript']"
    (onChange)="codeAreaSelect = $event"
  ></app-select>

  <!-- html -->
  <app-code-area *ngIf="codeAreaSelect === 0" [code]="html"></app-code-area>

  <!-- typescript -->
  <app-code-area
    *ngIf="codeAreaSelect === 1"
    [code]="typescript"
  ></app-code-area>
</app-section>
