.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid #dee2e6;
  color: var(--gems-color-1);
  background: var(--gems-color-3);
  font-weight: 700;
  border-radius: 6px;
}
// Nav
:host ::ng-deep .nav-panel {
  .p-menuitem-link, .p-panelmenu-header-action {
    color: unset;
    text-decoration: none;
  }

  .p-submenu-list {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .p-menuitem-link-active {
    background: var(--gems-color-3);
    border-radius: var(--gems-border-radius-m) !important;

    .p-menuitem-text {
      color: var(--gems-color-1) !important;
    }
  }
}
