.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid #dee2e6;
  color: #6c757d;
  background: var(--blue-50);
  font-weight: 700;
  border-radius: 6px;
}
