<!-- Title -->
<app-title [title]="title" [description]="description"></app-title>

<app-section [title]="'Github'">
  <div class="fs-5">
    <div class="d-flex align-items-center">
      <i class="pi pi-book fs-4 me-2"></i> -
      <a href="https://github.com/Lud0do1202/angular-gems" target="_blank" class="link ms-2">
        https://github.com/Lud0do1202/angular-gems
      </a>
    </div>
    <div class="d-flex align-items-center mt-2">
      <i class="pi pi-user fs-4 me-2"></i> -
      <a href="https://github.com/Lud0do1202" target="_blank" class="link ms-2"> https://github.com/Lud0do1202 </a>
    </div>
  </div>
</app-section>

<app-section [title]="'Npm'">
  <div class="fs-5">
    <div class="d-flex align-items-center">
      <i class="pi pi-book fs-4 me-2"></i> -
      <a href="https://www.npmjs.com/package/@lud0do1202/angular-gems" target="_blank" class="link ms-2">
        https://www.npmjs.com/package/@lud0do1202/angular-gems
      </a>
    </div>
    <div class="d-flex align-items-center mt-2">
      <i class="pi pi-user fs-4 me-2"></i> -
      <a href="https://www.npmjs.com/~lud0do1202" target="_blank" class="link ms-2">
        https://www.npmjs.com/~lud0do1202
      </a>
    </div>
  </div>
</app-section>
