<!-- -------------------------------- Title -------------------------------- -->
<app-title title="Menu Y Icons"></app-title>

<!-- --------------------------- Import Section ---------------------------- -->
<app-section-import [import]="import"></app-section-import>

<!-- -------------------------------- Basic -------------------------------- -->
<app-menu-y-icons-basic></app-menu-y-icons-basic>

<!-- ------------------------------- Custom -------------------------------- -->
<app-menu-y-icons-custom></app-menu-y-icons-custom>

<!-- ----------------------------- Properties ------------------------------ -->
<app-menu-y-icons-configuration></app-menu-y-icons-configuration>

<!-- ------------------------------- Events -------------------------------- -->
<app-menu-y-icons-events></app-menu-y-icons-events>
