// Import
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "~highlight.js/styles/vs2015.css";

// Body
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100vh;
}

// Dividers
.bg-divider {
  .p-divider-content {
    background-color: var(--green-50);
  }
}

// Description
strong {
  background-color: var(--gems-color-3);
  padding: 0.3rem 0.5rem;
  border-radius: var(--gems-border-radius-m);
  color: var(--gems-color-1);
  font-weight: normal;
}

// Toast
.p-toast {
  opacity: 0.975;
}

// Link
.link {
  text-decoration: none;
  color: var(--gems-color-1);
  transition: 0.2s;
  &:hover {
    color: var(--gems-color-2);
  }
}

// Info props
.info-prop {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem;
  margin: 0.2rem;
  font-size: 0.6rem;
  color: var(--gems-color-1);
  background-color: var(--gems-color-3);

  &:hover {
    cursor: pointer;
  }
}

.props-tooltip {
  .p-tooltip-text {
    width: fit-content;
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
  }
}
