// Import
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '~highlight.js/styles/vs2015.css';

// Body
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100vh;

  --gems-primary-color: #3dc06d;
  --gems-secondary-color: #5fd38a;
  --gems-third-color: #fff;
  --gems-bg-color: #fafafa;
  --gems-border-color: #dfdfdf;
  --gems-border-s: 1px solid var(--gems-border-color);
  --gems-border-m: 2px solid var(--gems-border-color);
  --gems-border-l: 4px solid var(--gems-border-color);
  --gems-border-radius-xs: 3px;
  --gems-border-radius-s: 6px;
  --gems-border-radius-m: 10px;
  --gems-border-radius-l: 20px;
  --gems-border-radius-xl: 35px;

  --primary-color : lightgreen
}

// Nav
.nav-panel {
  .p-menuitem-link-active {
    background-color: var(--blue-50);
    border: 1px solid var(--blue-100);
    border-radius: 6px !important;

    .p-menuitem-text {
      color: var(--blue-300) !important;
    }
  }
}

// Dividers
.title,
.section,
.donnation-divider {
  .p-divider-content {
    background-color: var(--blue-50);
  }
}

.donnation-divider {
  height: 250px;
}

// Card
.card {
  border: 1px solid #ced4da;
  background-color: #fdfdfd;
  box-shadow: none;

  .p-card-body {
    padding: 0;

    .p-card-content {
      font-size: 1.1rem;
      padding: 0.9rem 1.2rem;
    }
  }
}

// Select code area
.select {
  width: 100%;
  display: flex;

  .p-button {
    flex-grow: 1;
  }
}

// Description
strong {
  background-color: var(--blue-100);
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  color: var(--blue-400);
  font-weight: normal;
}

// Toast
.p-toast {
  opacity: 0.975;
}

// Link
.link {
  text-decoration: none;
  color: var(--blue-600);
  transition: 0.2s;
  &:hover {
    color: var(--blue-300);
  }
}
